<%- include('layouts/header') %>
    <h1>Home</h1>
    <p>
        <%= homeContent %>
    </p>
    <% posts.forEach(function(p) { %>
        <h1>
            <%= p.title %>
        </h1>
        <p>
            <%= p.content.substring(0,100)+"..." %>
                <a href="/post/<%- p.title %>">Read More</a>

        </p>
        <% }); %>
            <%- include('layouts/footer') %>